In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/trad/220124_trad.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,text,author_id,username,like_count,retweet_count
0,2022-01-24 15:00:00,#THETRAD,1376017426920267776,nogiotaradio,4,0
1,2022-01-24 15:00:01,#THETRAD,1183985487901425664,senpuuki_tantan,4,0
2,2022-01-24 15:00:01,ï¼‘ï¼•æ™‚ï¼ #tokyofm #THETRAD,1296804548023992329,__Kanday,5,0
3,2022-01-24 15:00:01,#THETRAD,1065212718146236416,Dosankoradio1,4,0
4,2022-01-24 15:00:01,#THETRAD,1173882803777236992,sonana_nogi,3,0
...,...,...,...,...,...,...
2012,2022-01-24 16:53:31,ã‚ãƒ¼ã€å¾éƒã•ã‚“ã® ãƒ©ã‚¸ã‚ªã‚¸ãƒ£ãƒƒã‚¯ã®1æ—¥ãŒ çµ‚ã‚ã£ãŸã€œâ£ï¸ ã¾ã ã¾ã è¶³ã‚Šãªã„ã€œğŸ˜ ã‘ã©â€¦ ã¾ã€...,154074992,goromichiyo,20,1
2013,2022-01-24 16:53:59,å¾éƒã•ã‚“ã®ã‚¹ãƒšã‚·ãƒ£ãƒ«ãƒ©ã‚¸ã‚ªãƒ‡ãƒ¼çµ‚ã‚ã£ãŸã€‚ æ¥½ã—ã‹ã£ãŸã€‚ãã‚Œãã‚Œå°‘ã—ãšã¤é•ã†å¾éƒã•ã‚“ã‚’æ¥½ã—ã‚ã¾...,106312714,pinot96,159,16
2014,2022-01-24 16:54:40,å¾éƒåº—é•·ã€åˆå‰ã‚‚åˆå¾Œã‚‚ãƒ©ã‚¸ã‚ªç•ªçµ„ã® ç”Ÿå‡ºæ¼”ãŠç–²ã‚Œæ§˜ã§ã—ãŸã€‚ æ¥½ã—ã‹ã£ãŸã§ã™â™ªã¾ãŸæ˜æ—¥ã€œã€‚ ...,911256434108645376,Poodle56Toy,4,0
2015,2022-01-24 16:54:40,ã“ã®æ™‚é–“ã¯å®¶æ—ã®é‚ªé­”ãŒå…¥ã£ã¦ã™ã‚“ãªã‚Šè´ã‘ãªã„ğŸ˜‚ ãƒŸãƒãƒªãƒ³ã®Cã€æ‡ã‹ã—ã„ã€œï¼ æ¯åº¦ãŠé¨’ãŒã›ã‚‚...,995145044175736832,miyanon105,6,0
2016,2022-01-24 16:54:45,#THETRAD é»’æ²¢ã•ã‚“æ¥½ã—ã‹ã£ãŸãƒ¼â™ª ä»Šæ—¥ã¯ ãƒã‚·ã‚´ã§ç”Ÿå‡ºæ¼” ãŠç–²ã‚Œã•ã¾ã§ã—ãŸğŸ’— ...,97843251,nao_04515,0,0

In [3]:
c_df = df.set_index('created_at').resample('T').count()
like_count_per_minute = df.set_index('created_at')['like_count'].resample('T').sum()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values, 'like':like_count_per_minute.values})
cnt

              created_at  tweet  like
0    2022-01-24 15:00:00     29   109
1    2022-01-24 15:01:00     15    37
2    2022-01-24 15:02:00     53   113
3    2022-01-24 15:03:00     57   340
4    2022-01-24 15:04:00     90   166
..                   ...    ...   ...
110  2022-01-24 16:50:00     10    36
111  2022-01-24 16:51:00     18    80
112  2022-01-24 16:52:00     18   145
113  2022-01-24 16:53:00      5   229
114  2022-01-24 16:54:00      3    10

[115 rows x 3 columns]

In [4]:
filename =  "count.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')