In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/trad/220131_trad.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,text,author_id,username,like_count,retweet_count
0,2022-01-31 15:00:15,å§‹ã¾ã£ãŸãƒ¼â™ª #ç¨²å£å¾éƒ #å‰ç”°æ˜ä¸– #tokyofm #THETRAD,107745163,loveGdolce,0,0
1,2022-01-31 15:00:26,ã‚‚ã†ã€ã“ã‚“ãªæ™‚é–“ï¼ å¾…æ©Ÿï½ğŸ“»ï¸ #THETRAD #ç¨²å£å¾éƒ #å‰ç”°æ˜ä¸–,765878396257796097,emipon_pon_0909,3,0
2,2022-01-31 15:00:30,#THETRAD,886395399962894336,nyonyo_makoto,1,0
3,2022-01-31 15:00:35,ãƒ€ãƒ¬ãƒãƒŠã¨ã‚¯ãƒ­ã‚¹ãƒˆãƒ¼ã‚¯ å¾éƒåº—é•·ã¯ã‚¹ã‚«ã‚¤ãƒ€ã‚¤ãƒ“ãƒ³ã‚°ğŸª‚ã¯ç„¡ç†ã€‚ãƒãƒ³ã‚¸ãƒ¼ã‚¸ãƒ£ãƒ³ãƒ—ã¨ã‹ã‚‚ã€‚é«ªã®æ¯›ã‚‚...,912713818333003778,choco2L,13,2
4,2022-01-31 15:00:49,#THETRAD ğŸ™ŒğŸ»,826784736001482752,gappi05chan24,4,0
...,...,...,...,...,...,...
933,2022-01-31 16:54:08,ã‚¯ãƒ­ã‚¹ãƒˆãƒ¼ã‚¯ãŒç„¡ã„ã¨æœ¬éƒ¨é•·ãŒã„ãªã„ã‹ã‚‰ã ã¨å‹˜ç¹°ã£ã¦ã—ã¾ã†(^â—‡^;) #THETRAD #...,226883403,namenuko1234,5,0
934,2022-01-31 16:54:23,ã¾ãŸæ˜æ—¥ğŸ˜ŠğŸ’• #ç¨²å£å¾éƒ #å‰ç”°æ˜ä¸– #THETRAD,1436928998857011201,mika80508638,0,0
935,2022-01-31 16:54:26,æ˜æ—¥ã®ä¸‰å®…ç´”ã•ã‚“ã™ã”ãæ¥½ã—ã¿ğŸ˜†âœ¨ No.9ã‚‚ã‚µãƒ³ã‚½ãƒ³ã‚‚ç´ æ™´ã‚‰ã—ã‹ã£ãŸğŸ’• ã©ã‚“ãªè©±ãŒç¹°ã‚Šåºƒã’ã‚‰...,708341562967633920,Rumi_1756,9,0
936,2022-01-31 16:54:38,LOVEãŒæµã‚Œã¦ã‹ã‚‰ ä¸Šã®ç©ºã«ãªã£ã¡ã‚ƒã„ã¾ã—ãŸã€‚ æ¥½ã—ã‹ã£ãŸã§ã™ã€‚ ã¾ãŸæ˜æ—¥ã€œâ˜ºï¸ #THE...,2197877982,1171175656,3,0
937,2022-01-31 16:54:48,ã‚ªã‚·ãƒ£ãƒ¬ã ã—æ¥½ã—ã‹ã£ãŸã—ã‚ã£ã¨ã„ã†é–“ã ã—ğŸ˜… æ˜æ—¥ã‚‚æ¥½ã—ã¿ã§ã™ ã•ã‚ˆãªã‚‰ã€œ(*oÌ¶Ì¶Ì·á´—oÌ¶Ì¶...,707705772549873664,DwHaru,0,0

In [3]:
c_df = df.set_index('created_at').resample('T').count()
like_count_per_minute = df.set_index('created_at')['like_count'].resample('T').sum()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values, 'like':like_count_per_minute.values})
cnt

              created_at  tweet  like
0    2022-01-31 15:00:00      5    21
1    2022-01-31 15:01:00      9    13
2    2022-01-31 15:02:00     13    54
3    2022-01-31 15:03:00     17    57
4    2022-01-31 15:04:00     20    22
..                   ...    ...   ...
110  2022-01-31 16:50:00     13    47
111  2022-01-31 16:51:00     15    50
112  2022-01-31 16:52:00      7    26
113  2022-01-31 16:53:00      6    48
114  2022-01-31 16:54:00      5    17

[115 rows x 3 columns]

In [4]:
filename =  "count.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')