In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/experiment1/annkw/220116_annkw.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

               created_at                                               text
0     2022-01-16 01:00:00                                             #annkw
1     2022-01-16 01:00:00                                             #annkw
2     2022-01-16 01:00:00                                             #annkw
3     2022-01-16 01:00:00                                             #annkw
4     2022-01-16 01:00:00                                  „Éã„ÉÅ„É¨„Ç§„Éó„É¨„Çº„É≥„ÉÑÔºÅÔºÅ#annkw
...                   ...                                                ...
11260 2022-01-16 03:04:15                   Ê≠ª„Çì„ÇÑ„ÇÅ„Åå„Å™„Åã„Å£„Åü„ÅÆ„ÅØ‰ªäÈÄ±„ÅØ‰ªïÊñπ„Å™„ÅÑ„Å™ #annkw #jolf
11261 2022-01-16 03:04:27         ÊúÄÈ´ò„Å´„Éà„Ç•„Éº„Çπ„Å™Â§ú„Å†„Å£„Åü#annkw https://t.co/liLMmhjyw1
11262 2022-01-16 03:04:41                     ÂãïÁîª„Åæ„Åß„ÉÑ„Ç§„Éº„Éà„Åó„Å¶„Åè„Çå„Çã„ÅÆÁèç„Åó„ÅÑ„ÅÇ„Çä„Åå„Å¶„Åà‚Ä¶ #annkw
11263 2022-01-16 03:04:52                               „Éü„ÉÉ„Éï„Ç£„Éº„Å°„ÇÉ„ÇìÂ§¢ËÇ°„Éá„Ç£„Ç™„Çπ#annkw
11264 2022-01-16 03:04:56  ----ÂïÜÂìÅ‰æ°Ê†º:4,180ÂÜÜ----‚ú®Êú¨Êó•„ÅÆ„Éà„É¨„É≥„Éâ‚ú®#SixTONESANNÁÅ´Â±±Âô¥ÁÅ´„Éà„É≥...

[11265 rows x 2 columns]

In [4]:
c_df = df.set_index('created_at').resample('T').count()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values})
cnt

              created_at  tweet
0    2022-01-16 01:00:00    862
1    2022-01-16 01:01:00    309
2    2022-01-16 01:02:00    122
3    2022-01-16 01:03:00    213
4    2022-01-16 01:04:00    237
..                   ...    ...
120  2022-01-16 03:00:00     76
121  2022-01-16 03:01:00     33
122  2022-01-16 03:02:00     26
123  2022-01-16 03:03:00     17
124  2022-01-16 03:04:00      7

[125 rows x 2 columns]

In [5]:
filename =  "count_all.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')

In [6]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/experiment1/annkw/220116_annkw_exp1.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by='created_at', ascending=True, inplace=True)
df = df.reset_index(drop=True)
df

              created_at                                        text
0    2022-01-16 02:12:00  „ÅÜ„ÅäÔºÅÔºÅÔºÅÔºÅ„Åì„ÅÆÊôÇÈñì„Å´ROSY„ÅØÂØù„Çå„ÇìÔºÅÔºÅÔºÅÔºÅ#annkw #SixTONESANN
1    2022-01-16 02:12:01                             Rosy„ÇÑ„ÇìÔºÅü§ô #annkw
2    2022-01-16 02:12:08                                 „Çπ„Éà„Å†„ÄÇ #annkw
3    2022-01-16 02:12:08                               „É≠„Éº„Ç∏„ÉºÔºÅÔºÅ #annkw
4    2022-01-16 02:12:09                               „ÄéRosy„Äè #annkw
...                  ...                                         ...
1949 2022-01-16 02:34:53                          Â±±Ê¢®„ÅÆÊñπ„Å´ÊóÖË°å„Åã^ ^ #annkw
1950 2022-01-16 02:34:53                Â±±Ê¢®„ÅÆÂà•Ëçò„Å´Âêë„Åã„Å£„Å¶Êò•Êó•ÂÆ∂ 1Ê≥ä2Êó•„ÅÆÊóÖ„ÄÇ #annkw
1951 2022-01-16 02:34:54                   Êò•Êó•„Éà„Éº„ÇØ„Çæ„Éº„É≥„Å£„Å¶„ÄÅ„ÉÅ„É≥„ÇÑ„Çå„Çã„ÅÆÔºü #annkw
1952 2022-01-16 02:34:56                     Ê≠£ÊúàÊóÖË°å„ÅÆË©±(‚Ä¶ÊôÇÈñìÂ§ß‰∏àÂ§´„Åã„Å™Ôºü)#annkw
1953 2022-01-16 02:34:58                               Êò•Êó•„ÇíÊÑü„Åò„ÇçÔºÅ#annkw

[1954 rows x 2 columns]

In [7]:
c_df = df.set_index('created_at').resample('T').count()
cnt = pd.DataFrame(
    {'created_at': c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet': c_df['text'].values})
cnt

             created_at  tweet
0   2022-01-16 02:12:00     45
1   2022-01-16 02:13:00    100
2   2022-01-16 02:14:00    102
3   2022-01-16 02:15:00     54
4   2022-01-16 02:16:00     34
5   2022-01-16 02:17:00     37
6   2022-01-16 02:18:00     40
7   2022-01-16 02:19:00     50
8   2022-01-16 02:20:00     82
9   2022-01-16 02:21:00     64
10  2022-01-16 02:22:00     74
11  2022-01-16 02:23:00     74
12  2022-01-16 02:24:00     84
13  2022-01-16 02:25:00     60
14  2022-01-16 02:26:00     44
15  2022-01-16 02:27:00    100
16  2022-01-16 02:28:00    188
17  2022-01-16 02:29:00    232
18  2022-01-16 02:30:00    161
19  2022-01-16 02:31:00    120
20  2022-01-16 02:32:00     96
21  2022-01-16 02:33:00     42
22  2022-01-16 02:34:00     71

In [8]:
filename = "count_exp1.csv"
cnt.to_csv(filename, encoding='utf-8-sig')