In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime as dt
from datetime import datetime as dtdt
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib import ticker
import matplotlib.dates as mdates
from matplotlib.dates import date2num
from matplotlib.dates import DateFormatter
import seaborn as sns
sns.set()

In [2]:
path = "/Users/iomacbookair2/Documents/lab/DEIM2023/tweet_csv/tama/220117_tama.csv"
df = pd.read_csv((path))
df['created_at'] = pd.to_datetime(df['created_at'])
df.sort_values(by = 'created_at', ascending = True, inplace = True)
df = df.reset_index(drop=True)
df

,created_at,text,author_id,username,like_count,retweet_count
0,2022-01-17 13:00:02,#tama954🔴(月曜),863003082954645504,miiyan1182,0,1
1,2022-01-17 13:00:03,でた、コラッツ予想ww #so954 #tama954,899647676043583490,nakakyou3,0,1
2,2022-01-17 13:01:04,1月17日のたまむすび開始 #tama954,114987594,tanupocorin,1,0
3,2022-01-17 13:01:10,阪神淡路大震災から丸27年 #tama954,132537530,clie_zan,1,0
4,2022-01-17 13:01:13,蔓延防止ね。#tama954,476448498,FriendNaginagi,0,0
...,...,...,...,...,...,...
1456,2022-01-17 15:32:36,中学で関東に越してきて ひとりで初めて行ったラーメン屋。 悩んでワンタン麺に似ているからと ...,2210747041,kawamachihiro,5,1
1457,2022-01-17 15:32:45,#tama954 竹ガムフットサル またやりたいなぁ😍😍💕💕 https://t.co/7M...,1221308595171516416,atsugiglass,5,0
1458,2022-01-17 15:32:48,すみません、メッセージ読んで頂きありがとうございました。 またあの時のように楽しい企画に参...,858505846187204608,take_kokosin,11,0
1459,2022-01-17 15:33:25,たまむすびのラストのトークをアカデミックに解説するセッション #tama954 #ss954,134622257,gaoqiaoren,3,0
1460,2022-01-17 15:34:07,チキさん「最近読んだ心理学の本に反抗期は誰でも来るわけではないと書いてあった」 まさかここ...,264737210,todddddddy,3,0

In [3]:
c_df = df.set_index('created_at').resample('T').count()
like_count_per_minute = df.set_index('created_at')['like_count'].resample('T').sum()
cnt = pd.DataFrame(
    {'created_at' : c_df.index.strftime('%Y-%m-%d %H:%M:%S'), 'tweet' : c_df['text'].values, 'like':like_count_per_minute.values})
cnt

              created_at  tweet  like
0    2022-01-17 13:00:00      2     0
1    2022-01-17 13:01:00     13     6
2    2022-01-17 13:02:00      7    10
3    2022-01-17 13:03:00     10     3
4    2022-01-17 13:04:00     13    28
..                   ...    ...   ...
150  2022-01-17 15:30:00      3     3
151  2022-01-17 15:31:00      0     0
152  2022-01-17 15:32:00      4    21
153  2022-01-17 15:33:00      1     3
154  2022-01-17 15:34:00      1     3

[155 rows x 3 columns]

In [4]:
filename =  "count.csv"
cnt.to_csv(filename, encoding = 'utf-8-sig')